body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

h1 {
    font-family: 'Aboreto', cursive;
    color: #FF5F1F;
}

h3 {
    font-family: 'Aboreto', cursive;
    color: #777838;
}